<html>
    <head>
        <title>Edit Page</title>
    </head>
    <body>
        <div class='Container'>
            <form action = "/tests/editForm" method = "POST">
                <label>Enter the First Name of the record to be updated:</label><br>
                <input type = "text" name = "firstName" placeholder = "First Name" required = "true"><br><br>
                <button type = "submit">Edit</button>
            </form>
        </div>
    </body>
</html>